
.header {
    background-color: #fff;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 24px 32px;
  }
  
  .logoWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    width: 40px;
  }
  
  .logo {
    display: flex;
    width: 40px;
    flex-direction: column;
  }
  
  .logoInner {
    border-radius: 23px;
    display: flex;
    flex-direction: column;
    padding: 6px 0;
  }
  
  .logoBar {
    background-color: #fff;
    height: 6px;
    width: 100%;
  }
  
  .logoBarGroup {
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    padding: 0 4px;
  }
  
  .companyName {
    color: #000;
    font: 700 20px/1.6 Inter, sans-serif;
    margin: 0 16px;
  }
  
  .navigation {
    flex: 1;
  }
  
  .navList {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navItem {
    color: #000;
    font: 600 16px Inter, sans-serif;
    text-decoration: none;
    margin: 0 8px;
  }
  
  .loginButton {
    border-radius: 12px;
    background-color: #ee4248;
    color: #fff;
    font: 600 18px/2 Inter, sans-serif;
    padding: 0 32px;
    border: 1px solid #ee4248;
    cursor: pointer;
  }
  

  
  .footer {
    background-color: #fff;
    padding: 32px 40px 40px;
    margin-top: 100px;
  }
  
  .footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    border-top: 1px solid #b3b3b3;
  }
  
  .footerLogo {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .footerLogoImage {
    width: 32px;
    height: 32px;
  }
  
  .footerCompanyName {
    color: #1a1a1a;
    font: 700 16px Inter, sans-serif;
  }
  
  .footerNav {
    display: flex;
  }
  
  .footerNavList {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 28px;
  }
  
  .footerNavItem {
    color: rgba(13, 13, 13, 0.7);
    font: 600 16px Inter, sans-serif;
    text-decoration: none;
  }