/* Container styling */
.login-container {
    border-radius: 8px;
   
  }
  .modeSelectorContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .modeSelector {
    border-radius: 8px;
    padding: 4%;
    color:whitesmoke;
    background-color: #ee4248;
    opacity: 80%;
    display: flex;
    width: 40%;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .modeSelector:hover {
    background-color: rgb(143, 140, 186);
  }
  
  /* Form heading */
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  /* Form labels */
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
  }
  
  /* Input fields */
  input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  /* Button styling */
  button {
    width: 50%;
    margin-left: 20%;
    padding: 15px;
    background-color: #ee4248;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #c0392b; /* darker on hover */
  }
  /* ... existing styles ... */

.close-button {
  /* position: absolute; */
  height:30px;
  width:15px;
  cursor: pointer;
}

.login-container {
  position: relative;
  width: 100%;
  /* ... other existing styles ... */
}

  /* Error message styling */
  p {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: -10px;
  }
  
  /* Responsive Design */
  @media (max-width: 500px) {
    .login-container {
      padding: 15px;
      margin: 50px auto;
    }
  
    h2 {
      font-size: 24px;
    }
  
    button {
      font-size: 14px;
      padding: 8px;
    }
  }
  